<template name="driverProfile">
	<div class="gr-container" ng-controller="DriverProfileController">
		<ul class="nav nav-tabs" role="tablist" id="driverProfile">
		  <li class="active">
		  	<a href="#profile" role="tab" data-toggle="tab">Profile</a>
		  </li>
		  <li>
		  	<a href="#rides" role="tab" data-toggle="tab">Rides</a>
		  </li>
		</ul>
		<div class="tab-content">
		    <div class="gr-profile tab-pane active" id="profile">
		  		{{> profileForm}}
		    </div>
		    <div class="tab-pane" id="rides">
		  		<ng-template name="driverRideList"></ng-template>
				<button type="button" class="btn btn-default btn-lg gr-create"
					    data-toggle="modal" data-target="#rideDlg" ng-click="onCreateRide()">Create</button>
				{{> rideDlg}}
		    </div>
		</div>
	</div>
</template>