<template name="rideEventsSearchPage">
	<div class="gr-container" ng-controller="SearchRidesController">
		<div class="gr-search-form">
			<form name="form" class="gr-form form-inline" role="form">
				<div class="form-group">
					<div class="row">
						<div class="input-group col-md-4">
							<select ng-select-place countries="Беларусь" ng-model="fromVal" model="from" init-value="from" name="from" class="gr-place" placeholder="Select From" required>
							</select>
						</div>
						<div class="input-group col-md-4">
	      					<select ng-select-place countries="Беларусь" ng-model="toVal" model="to" init-value="to" name="to" class="gr-place" placeholder="Select To" required>
							</select>
						</div>
						<div ng-select-date class="input-group col-md-2 date gr-date">
							<input type="text" name="when" ng-model="date" class="form-control" placeholder="Date" required>
							<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
						</div>
						<button ng-click="search()" type="button" class="btn btn-default col-md-1 gr-search" ng-disabled="form.$invalid">Search</button>
					</div>
				</div>
			</form>
		</div>
		<div class="gr-search-results">
			<div ng-show="!loading">
				{{#unless isEmpty rideEvents}}
					{{> rideEventList rideEvents}}
				{{/unless}}
				<div class="gr-search-more" style="display: {{#if noMore}}none{{else}}block{{/if}}">
					<a ng-click="more()" ng-show="!moreLoading">Load More</a>
					<div ng-show="moreLoading">
						{{> spinner}}
					</div>
				</div>
			</div>
			<div ng-show="loading">
				{{> spinner}}
			</div>
		</div>
	</div>
</template>