.rwd-table {
	margin: 0;

	a {
		color: #84C1F6;
	}

	button {
		color: #34495E;
	}
}

.tab-content {
	padding: 30px 0;
}

.datepicker {
	z-index: 99999 !important;
}

.selectize-control {
	text-align: left;
}

.selectize-dropdown-content div span.place {
	margin-right: 10px;
}

.selectize-dropdown-content div span.region {
	font-size: smaller;
}

.spinner {
	margin-top: 0;
}

.date {
	input.form-control {
		width: 70% !important;
	}
}

label.btn {
	top: 0;
}

.navbar {
	margin-bottom: 0;
}