@import "material/material.vars.import.less";

header {
	.gr-main {
		.jumbotron {
			height: 500px;
			margin-bottom: 0;
		}	
	}

	.gr-search-form {
		width: 100%;
		background-color: @container-grey;

		form {
			padding: 35px 35px;

			.form-group {
				text-align: center;
				margin-top: 0;
				width: 100%;
			}
		}

		.gr-place {
			width: 100%;
		}

		.selectize-input {
			vertical-align: middle;
		}

		.input-group {
			width: 100%;
		}

		.no-float {
			float: none;
			display: inline-block;
		}
	}
}

#body {
	.gr-main {
		.gr-search-results {
			padding: 30px 0;
			position: relative;

			table {
				width: 100%;
				margin-bottom: 0;
			}

			&>div>.spinner {
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -15px 0 0 -25px;
			}
		}

		.gr-search-more {
			text-align: center;
			margin-top: 20px;
			display: none;

			a {
				cursor: pointer;
			}
		}
	}
}