header {
	.gr-newride {
		background-color: transparent;
		height: 200px;
		padding: 0;
	}
}

#body {
	.gr-newride {
		background-color: #F5F5F5;
		padding: 50px 0;

		form {
			margin: 0 auto;
			width: 900px;

			.col > div,
			.col > input {
				width: 45%;
			}

			.form-group:first-child {
				margin-top: 0;
			}
		}

		.gr-cmd {
			margin-top: 40px;
		}

		.input-group-addon {
			width: auto;
		}
	}
}