.gr-search-form {
	margin-bottom: 50px;
}

.gr-search-form form {
	padding: 20px 35px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}

.gr-search-form form .form-group {
	width: 100%;
}

.gr-search-form .gr-place {
	width: 300px;
}

.gr-search-form button.gr-search {
	float: right;
}

.gr-search-results td.gr-seats {
	font-size: 22px;
}

.gr-search-form .selectize-input {
	vertical-align: middle;
}

.gr-search-results {
	position: relative;
}

.gr-search-results .gr-table {
	width: 100%;
}

.gr-search-more {
	text-align: center;
	margin-top: 40px;
	display: none;
}

.gr-search-more a {
	cursor: pointer;
}

.gr-search-results > div > .spinner {
	position: absolute;
	left: 50%;
	top: 100px;
}